{% extends 'purbeurre/base.html' %}
{% load staticfiles %}

{% block content %}
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Du gras, oui, mais de la qualité</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Trouvez un produit de substitution pour ceux que vous consommez tous les jours</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 detail-separator">
            <form class="col-lg-12 text-center" action="{% url 'purbeurre:search' %}" method="get" accept-charset="utf-8">
              <div class="form-group">
                <label for="searchForm">Chercher un produit</label>
                <input id="searchForm" class="form-control" name="query">
              </div>
              <span class="help-block" id="helpBlock">Trouvez le produit dont vous cherchez le substitut.</span>
            </form>
          </div>
        </div>
      </div>  
    </header>

    <section class="bg-primary" id="about">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Colette et Remy</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <img src="{% static 'purbeurre/img/colette-4.jpg' %}" class="img-fluid" alt="Colette">
            <h4>Colette</h4>
          </div>
          <div class="col-md-6 mx-auto text-center">
            <img src="{% static 'purbeurre/img/remy-8.jpg' %}" class="img-fluid" alt="Rémy">
            <h4>Rémy</h4>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
