{% load staticfiles %} 

<div class="row">

{% if substitutes %}
{% for product in substitutes %}
    <div class="col-sm-4 text-center">
        <a href="{% url 'purbeurre:detail' product.id %}">
        {% if not product.productimagethumburl %}
          <img class="img-responsive" src="{% static 'purbeurre/img/no-image.png' %}" alt="{{ product.name }}">
        {% else %}
          <img class="img-responsive" src="{{ product.productimagethumburl }}" alt="{{ product.name }}">
        {% endif %}
        </a>
        {% if -15 <= product.nutrition_grade and product.nutrition_grade <= -2 %}
          <img class="img-responsive" src="{% static 'purbeurre/img/120px-Nutri-score-A.png' %}" alt="{{ product.name }}">
        {% elif -1 <= product.nutrition_grade and product.nutrition_grade <= 3 %}
          <img class="img-responsive" src="{% static 'purbeurre/img/120px-Nutri-score-B.png' %}" alt="{{ product.name }}">
        {% elif 4 <= product.nutrition_grade and product.nutrition_grade  <= 11 %}
          <img class="img-responsive" src="{% static 'purbeurre/img/120px-Nutri-score-C.png' %}" alt="{{ product.name }}">
        {% elif 12 <= product.nutrition_grade and product.nutrition_grade  <= 16 %}
          <img class="img-responsive" src="{% static 'purbeurre/img/120px-Nutri-score-D.png' %}" alt="{{ product.name }}">
        {% elif 17 <= product.nutrition_grade and product.nutrition_grade  <= 40 %}
          <img class="img-responsive" src="{% static 'purbeurre/img/120px-Nutri-score-E.png' %}" alt="{{ product.name }}">
        {% endif %}
        <h6><a href="{% url 'purbeurre:detail' product.id %}">{{ product.name }} {{product.quantity}} de marque {{product.brands}}</a></h6>
        {% if user.is_authenticated %}
        <h6><a href="{% url 'purbeurre:my_products' user_id=user.id product_id=product.id %}"><i class="fa fa-floppy-o"></i>&emsp;Sauvegarder</a></h6>
        {% endif %}
    </div>
    {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div><div class="h10 row"><p>test</p></div>{% endif %}
{% endfor %}
{% else %}
    <div class="col-md-6 mx-auto text-center">
        <img src="{% static 'purbeurre/img/images404.png' %}" class="img-fluid" alt="404 error">
        <h4>Sorry</h4>
        <h4><em>Désolé je n'ai pas trouvé de produits de substitution correspondants à votre recherche.</em></h4>
    </div>
{% endif %}
</div>
