{% extends 'purbeurre/base.html' %}


{% block content %}
    <section class="bg-primary" id="about">
      <div class="container-fluid p-0">
        <div class="h-25 row" style="background-image: url('{{product.productimageurl}}'); background-repeat: no-repeat; background-size: 100%; filter: brightness(50%)">
          <div class="container h100">
            <div class="row h-100 justify-content-center align-items-center">
              <h1 style="color: #FFFFFF">{{ product.name }} </h1>
            </div>
          </div>  
        </div>
        <div class="h-25 row">
          <div class="container h100">
            <div class="row h-100 justify-content-center align-items-center">
              <div class="col-md-6 justify-content-center align-items-center">
                <ul>
                  <li>Ci-dessous une sélection de produits qui vous permettront de remplacer cet aliment.</li>
                  <li>Cliquez sur le produit pour plus d'informations.</li>
                  {% if user.is_authenticated %}
                  <li> Sauvegardez le produit dans votre liste d'aliments de substitution</li>
                  {% else %}
                  <li><h6><a href="{% url 'purbeurre:login' %}?next={{ request.path }}"><i class="fa fa fa-users"></i>&emsp;Aller à la page d'authentification pour sauvegarder</a></h6></li>
                  {% endif %}
                </ul>  
              </div>  
            </div>
          </div>  
        </div>
      </div>
          {% include 'purbeurre/list_product_substitutes.html' %}
    </section>
{% endblock %}